div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    /* transition: 3s; */
    transition-duration: 3s;
    /* transition-delay: 2s; */
    transition-property: border-radius;


}

div:hover{
    background-color: red;
    border-radius: 50%;
}